.sidebarmob {
  position: absolute;
  z-index: 10;
  width: 80%;
  min-height: 100vh;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px 15px;
  border-radius: 30px;
  margin-bottom: 30px;
  animation: fadein 1s;
}

.sidebarmob img {
  width: 20px;
}

.sidebarmob .new-chat {
  margin-top: 50px;
  display: inline-flex;
  align-items: center;
  padding: 10px 15px;
  gap: 10px;
  background-color: #e6eaf1;
  border-radius: 25px;
  font-size: 14px;
  cursor: pointer;
  color: gray;
}

.sidebarmob .recent {
  display: flex;
  flex-direction: column;
  animation: fadeinm 1.5s;
}

.sidebarmob .recent-title {
  margin-top: 30px;
  margin-bottom: 20px;
}

.sidebarmob .menu {
  display: block;
  cursor: pointer;
  margin-left: 10px;
}

.sidebarmob .recent-entry {
  display: flex;
  align-items: start;
  gap: 10px;
  padding: 10px;
  padding-right: 40px;
  border-radius: 50px;
  color: #282828;
  cursor: pointer;
}
.sidebarmob .recent-entry:hover {
  background-color: #e2e6eb;
}

.sidebarmob .bottom {
  display: flex;
  flex-direction: column;
}

.sidebarmob .bottom-item {
  padding-right: 10px;
  cursor: pointer;
}

.bottom-item img {
  border-radius: 100%;
}

@media (min-width: 526px) {
  .sidebarmob {
    display: none;
  }
}
@keyframes fadeinm {
  0% {
    transform: translateX(-100px);
    opacity: 0.1;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
