@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Outfit", sans-serif;
}

#root {
  min-height: 100vh;
  animation: fadein 1s;
}

@media (min-width: 526px) {
  #root {
    display: flex;
    animation: fadein 2s;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
